body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  color: #333;
}

form {
  margin: 10px 0;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  margin: auto;
}

input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

button {
  padding: 10px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#searchResults {
  margin-top: 20px;
}

.book-item {
  background-color: #fff;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.book-item button {
  background-color: #FF5733;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 14px;
}

.book-item button:hover {
  background-color: #e74c3c;
}

.message {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}

.message.success {
  background-color: #4CAF50;
  color: white;
}

.message.error {
  background-color: #f44336;
  color: white;
}

#loadingIndicator {
  font-size: 18px;
  color: #007bff;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}
